body {
  font-family: "Quicksand", sans-serif;
  margin: unset;
}

h1,
h2,
h3,
p {
  all: unset;
  display: block;
}
ul,
li {
  all: unset;
}

.icon__container {
  position: relative;
  width: 300px;
}

.mobile__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
