#work__count {
  background-image: url("../images/cover_bg_1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 15px;
  margin-top: 100px;
  position: relative;
}

#work__count::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

#work__count > span {
  display: block;
  text-align: center;
  z-index: 1;
  position: relative;
}

#work__count > :nth-child(odd) {
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

#work__count > :nth-child(even) {
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 992px) {
  #work__count {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 15px;
  }

  #work__count > :nth-child(odd) {
    grid-row: 1/2;
  }

  #work__count > :nth-child(even) {
    margin-bottom: 0;
  }

  #work__count > :nth-child(3) {
    grid-column: 2/3;
  }

  #work__count > :nth-child(5) {
    grid-column: 3/4;
  }

  #work__count > :nth-child(7) {
    grid-column: 4/5;
  }
}
